<!DOCTYPE HTML>
<html>
<head>
    <title>Flask-SocketIO Test</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    
    <script type="text/javascript" charset="utf-8">
        
        $(document).ready(function() {

            // Use a "/test" namespace.
            // An application can open a connection on multiple namespaces, and
            // Socket.IO will multiplex all those connections on a single
            // physical channel. If you don't care about multiple channels, you
            // can set the namespace to an empty string.
            namespace = '/test';

            // Connect to the Socket.IO server.
            // The connection URL has the following format:
            //     http[s]://<domain>:<port>[/<namespace>]
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

            // Event handler for new connections.
            // The callback function is invoked when a connection with the
            // server is established.
            socket.on('connect', function() {
                socket.emit('send_to_self', {data: 'I\'m connected!'});
            });

            // Event handler for server sent data.
            // The callback function is invoked whenever the server emits data
            // to the client. The data is then displayed in the "Received"
            // section of the page.            
            socket.on('display_message', function(msg) {
                $('#log').append('<br>' + $('<div/>').text('Received #' + msg.count + ': ' + msg.data).html());
            });

            // Handlers for the different forms in the page.
            // These accept data from the user and send it to the server in a
            // variety of ways
            $('form#push_self').submit(function(event) {
                socket.emit('send_to_self', {data: $('#push_self_data').val()}); // val() gets the value of the element
                return false; // Often, in event handlers, such as onsubmit, returning false is a way to tell the event to not actually fire. So, say, in the onsubmit case, using return false would mean that the form is not submitted. This is particularly good if you want an AJAX form that submits without reloading the page - but also works by submitting and reloading the page when javascript is not available. While easy to implement, it may not be the best method to achieve such an objective, but that is beyond the scope of this tutorial. Source - https://stackoverflow.com/a/855376
            });
            $('form#push_all').submit(function(event) {
                socket.emit('send_to_all', {data: $('#push_all_data').val()}); // val() gets the value of the element
                return false; // Often, in event handlers, such as onsubmit, returning false is a way to tell the event to not actually fire. So, say, in the onsubmit case, using return false would mean that the form is not submitted. This is particularly good if you want an AJAX form that submits without reloading the page - but also works by submitting and reloading the page when javascript is not available. While easy to implement, it may not be the best method to achieve such an objective, but that is beyond the scope of this tutorial. Source - https://stackoverflow.com/a/855376
            });
        });

    </script>
    
</head>
<body>
    <h1>Flask-SocketIO Test</h1>
    <h2>Send:</h2>
    <!-- "Send to Self" button just sends messages to yourself -->
    <form id="push_self" method="POST" action='#'>
        <input type="text" name="push_self_data" id="push_self_data" placeholder="Message">
        <input type="submit" value="Send to Self">
    </form>
    <!-- "Send to All" button on the other hand sends messages to everyone on the connection/chatroom -->
    <form id="push_all" method="POST" action='#'>
        <input type="text" name="push_all_data" id="push_all_data" placeholder="Message">
        <input type="submit" value="Send to All">
    </form>
    <h2>Receive:</h2>
    <div id="log"></div>
</body>
</html>